# Data Wrangling Project: Wrangle and Analys Data

## Intorduction

In this project I'm  going to apply the data wrangling techniques that I've learned on some data that I will collect from Twitter using tweepy API, and after I'm done wrangling the data I will analyse it and create a visualization to help understand how data wrangling can affect the final outcome for any analysis.

I will follow the same steps that I learned in the data wrangling lesson to reach my goal, the steps are:

* Gathering the data
* Assessing the data
* Cleaning the data

after I'm done with these steps I will start analysing the cleaned data and compare it to the unclean data analysis.

=====================================================================================================================

## Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tweepy as tw
import json

## Gathering

For the gathering we will accuire three types of data:

1. CSV data from the "Twitter-Archive-Enhanced"
2. TSV data generated from the Image prediction algorithim
3. JSON data from the Tweepy API

In [2]:
# Start with the csv file using read_csv function.
df_csv = pd.read_csv('twitter-archive-enhanced.csv')
df_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
# Read the tsv file also using read_csv function but changing the sep variable
df_tsv = pd.read_csv("image-predictions.tsv",sep='\t')
df_tsv.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [4]:
# Authenticating and using the Tweepy API

consumer_key = 'XXXXXXXXXXXXXXXXXX'
consumer_secret = 'XXXXXXXXXXXXXXXXXXXX'
access_token = 'XXXXXXXXXXXXXXXXXX'
access_token_secret = 'XXXXXXXXXXXXXXXXXX'

auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tw.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

# Storing the Tweet IDs to use them with the API
tweet_ids = df_csv['tweet_id'].values

In [5]:
# Checking the user for the twitter account that we're intrested in
user = api.get_user('dog_rates')
print(user.name)
print(user.description)

WeRateDogs™
Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

In [6]:
with open('tweet_json.txt', 'w') as file:
    for tweet_id in tweet_ids:
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            json.dump(tweet._json, file)
            file.write('\n')
        except tw.TweepError:
            print('Failed to return json object for tweet ID: {}'.format(tweet_id))

Failed to return json object for tweet ID: 888202515573088257
Failed to return json object for tweet ID: 873697596434513921
Failed to return json object for tweet ID: 872668790621863937
Failed to return json object for tweet ID: 872261713294495745
Failed to return json object for tweet ID: 869988702071779329
Failed to return json object for tweet ID: 866816280283807744
Failed to return json object for tweet ID: 861769973181624320
Failed to return json object for tweet ID: 856602993587888130
Failed to return json object for tweet ID: 851953902622658560
Failed to return json object for tweet ID: 845459076796616705
Failed to return json object for tweet ID: 844704788403113984
Failed to return json object for tweet ID: 842892208864923648
Failed to return json object for tweet ID: 837366284874571778
Failed to return json object for tweet ID: 837012587749474308
Failed to return json object for tweet ID: 829374341691346946
Failed to return json object for tweet ID: 827228250799742977
Failed to return json object for tweet ID: 812747805718642688
Failed to return json object for tweet ID: 802247111496568832
Failed to return json object for tweet ID: 775096608509886464
Failed to return json object for tweet ID: 770743923962707968
Rate limit reached. Sleeping for: 725
Failed to return json object for tweet ID: 754011816964026368
Failed to return json object for tweet ID: 680055455951884288
Rate limit reached. Sleeping for: 725

In [6]:
# Extracting JSON objects from the text file

tweets_list =[]


with open('tweet_json.txt') as json_file:
    for line in json_file:
        tweets_dict = {}
        tweets_json = json.loads(line)
        # Using a json viewer we can see where tweet_id, retweet_count and favorite_count are.
        try:
            tweets_dict['tweet_id'] = tweets_json['id']
        except:
            tweets_dict['tweet_id'] = 'na'

        tweets_dict['retweet_count'] = tweets_json['retweet_count']
        tweets_dict['favorite_count'] = tweets_json['favorite_count']
        
        tweets_list.append(tweets_dict)

In [7]:
df_json = pd.DataFrame(tweets_list,columns = ['tweet_id' ,'retweet_count', 'favorite_count'])
df_json.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8037           37362
1  892177421306343426           5966           32115
2  891815181378084864           3948           24214
3  891689557279858688           8205           40665
4  891327558926688256           8885           38882

==========================================================================

## Assessing

For the assessing we will look for these issues in each data frame:

1. Check for missing data
2. Check for problems with the data structure
3. Check for quality issues

### Assessing the <span style="color:green">CSV</span> file.

In [8]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
df_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [10]:
df_csv.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [11]:
df_csv.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [12]:
df_csv.groupby(['rating_denominator']).count()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,name,doggo,floofer,pupper,puppo
rating_denominator,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
2,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
7,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
10,2333,73,73,2333,2333,2333,180,180,180,2278,2333,2333,2333,2333,2333,2333
11,3,0,0,3,3,3,1,1,1,3,3,3,3,3,3,3
15,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
16,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
20,2,1,1,2,2,2,0,0,0,1,2,2,2,2,2,2
40,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
50,3,0,0,3,3,3,0,0,0,3,3,3,3,3,3,3
70,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
80,2,0,0,2,2,2,0,0,0,2,2,2,2,2,2,2
90,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
110,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
120,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
130,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1
150,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
170,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1

In [13]:
df_csv.query('rating_denominator != 10')['rating_denominator'].count()

23

In [14]:
df_csv.query('rating_denominator != 10')['rating_numerator']

313     960
342      11
433      84
516      24
784       9
902     165
1068      9
1120    204
1165      4
1202     50
1228     99
1254     80
1274     45
1351     60
1433     44
1598      4
1634    143
1635    121
1662      7
1663     20
1779    144
1843     88
2335      1
Name: rating_numerator, dtype: int64

In [15]:
df_csv.groupby(['rating_numerator']).count()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_denominator,name,doggo,floofer,pupper,puppo
rating_numerator,,,,,,,,,,,,,,,,
0,2,1,1,2,2,2,0,0,0,2,2,2,2,2,2,2
1,9,3,3,9,9,9,1,1,1,6,9,9,9,9,9,9
2,9,0,0,9,9,9,0,0,0,9,9,9,9,9,9,9
3,19,0,0,19,19,19,0,0,0,19,19,19,19,19,19,19
4,17,1,1,17,17,17,0,0,0,16,17,17,17,17,17,17
5,37,2,2,37,37,37,1,1,1,35,37,37,37,37,37,37
6,32,0,0,32,32,32,0,0,0,32,32,32,32,32,32,32
7,55,2,2,55,55,55,1,1,1,53,55,55,55,55,55,55
8,102,0,0,102,102,102,4,4,4,102,102,102,102,102,102,102
9,158,3,3,158,158,158,2,2,2,156,158,158,158,158,158,158
10,461,6,6,461,461,461,19,19,19,455,461,461,461,461,461,461
11,464,13,13,464,464,464,38,38,38,455,464,464,464,464,464,464
12,558,14,14,558,558,558,58,58,58,547,558,558,558,558,558,558
13,351,20,20,351,351,351,44,44,44,339,351,351,351,351,351,351
14,54,5,5,54,54,54,11,11,11,50,54,54,54,54,54,54
15,2,1,1,2,2,2,1,1,1,1,2,2,2,2,2,2
17,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
20,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
24,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
26,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
27,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
44,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
45,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
50,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
60,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
75,2,0,0,2,2,2,1,1,1,2,2,2,2,2,2,2
80,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
84,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
88,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
99,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
121,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
143,1,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1
144,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
165,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
182,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
204,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1
420,2,1,1,2,2,2,0,0,0,1,2,2,2,2,2,2
666,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
960,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1
1776,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1

In [16]:
check = df_csv.query('rating_numerator < 10 | rating_numerator > 14')[['text','rating_numerator']]
check.to_csv("checkingNumerator.csv",index=True)

In [17]:
df_csv['tweet_id'].duplicated().sum()

0

In [18]:
df_csv['doggo'].unique()

array(['None', 'doggo'], dtype=object)

In [19]:
df_csv.query('doggo == "None"& floofer == "None" & pupper == "None" & puppo == "None"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
31,886258384151887873,NaN,NaN,2017-07-15 16:17:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Waffles. His doggles are pupside down....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
33,885984800019947520,NaN,NaN,2017-07-14 22:10:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion advised. This is Jimbo. He w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885984800...,12,10,Jimbo,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [20]:
df_csv.query('(doggo != "None"& floofer != "None") | (pupper != "None" & puppo != "None")')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None

In [21]:
df_csv.query('(doggo != "None"& pupper != "None") | (floofer != "None" & puppo != "None")')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Dido. She's playing the lead role in ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/817777686...,13,10,Dido,doggo,None,pupper,None
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have Burke (pupper) and Dexter (doggo)...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/808106460...,12,10,None,doggo,None,pupper,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bones. He's being haunted by another d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/801115127...,12,10,Bones,doggo,None,pupper,None
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pinot. He's a sophisticated doggo. You...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785639753...,10,10,Pinot,doggo,None,pupper,None
733,781308096455073793,NaN,NaN,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...","Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",NaN,NaN,NaN,https://vine.co/v/5rgu2Law2ut,12,10,None,doggo,None,pupper,None
778,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is just downright precious...,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Meet Maggie &amp; Lila. Maggie is the doggo, L...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/759793422...,12,10,Maggie,doggo,None,pupper,None
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please stop sending it pictures that don't eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751583847...,5,10,None,doggo,None,pupper,None
1063,741067306818797568,NaN,NaN,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is just downright precious af. 12/10 for ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
1113,733109485275860992,NaN,NaN,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like father (doggo), like son (pupper). Both 1...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None

#### Result of Assessment for the CSV file:

* Visually looking at retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,in_reply_to_status_id,in_reply_to_user_id we can see that these columns have lots of missing values.
* We found that there are 23 entries a rating_denominator that is not 10,  which is a clear error(we might not need this column since we know our ratings are out of 10).
* Some of the rating_numerator are either less than 10 or greater than 14, after visually checking these entries I found that some of these values are due to error in reading the text(this could occur for text containing dates (e.g. 4/10(4th July) or places (e.g. 7/11).
* column names are ambiguous
* timestamp and retweeted_status_timestamp are not in the correct data type
* Last 4 columns (doggo, floofer,pupper and puppo) should be in one column instead of four.
* tweet_id is in int64 data type
---

### Assessing the <span style="color:red">TSV</span> file.

In [22]:
df_tsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [23]:
df_tsv.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [24]:
df_tsv.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [25]:
df_tsv.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [26]:
df_tsv['tweet_id'].duplicated().sum()

0

In [27]:
df_tsv['jpg_url'].duplicated().sum()

66

In [28]:
df_tsv['img_num'].unique()

array([1, 4, 2, 3])

In [29]:
1-df_tsv['p1_dog'].mean()

0.2616867469879518

In [30]:
df_tsv.query('p1_conf == {}'.format(df_tsv['p1_conf'].min()))

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
38,666644823164719104,https://pbs.twimg.com/media/CUBl6IwVAAA9_zT.jpg,1,Ibizan_hound,0.044333,True,Pembroke,0.043209,True,West_Highland_white_terrier,0.038906,True

#### Result of Assessment for the TSV file:

* Visually looking at the data, I see multiple columns that I don't need in my final cleaned data (e.g. p2 data and p3 data).
* 26% of the predictions in p1 are false, which is supposed to be the strongest prediction.
* column names must have meaningful names
* tweet_id is in int64 data type
----

### Assessing the <span style="color:orange">JSON</span> file.

In [31]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334 entries, 0 to 2333
Data columns (total 3 columns):
tweet_id          2334 non-null int64
retweet_count     2334 non-null int64
favorite_count    2334 non-null int64
dtypes: int64(3)
memory usage: 54.8 KB

In [32]:
df_json.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8037           37362
1  892177421306343426           5966           32115
2  891815181378084864           3948           24214
3  891689557279858688           8205           40665
4  891327558926688256           8885           38882

In [33]:
df_json.describe()

           tweet_id  retweet_count  favorite_count
count  2.334000e+03    2334.000000     2334.000000
mean   7.419439e+17    2825.568123     7787.058698
std    6.819580e+16    4781.927851    12083.495333
min    6.660209e+17       1.000000        0.000000
25%    6.782926e+17     568.250000     1353.750000
50%    7.184574e+17    1322.500000     3392.500000
75%    7.986600e+17    3297.500000     9558.250000
max    8.924206e+17   81174.000000   161352.000000

In [34]:
df_json[df_json['tweet_id'].duplicated()]

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count]
Index: []

In [35]:
df_json.query('tweet_id == 675501041127936000')

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count]
Index: []

#### Result of Assessment for the JSON file:

* There are entries without tweet_id
* There are duplicated tweet_id
* tweet_id is in int64 data type

----------------------------------------------
==========================================================================

## Cleaning

Cleaning consists of three main steps:
1. Defining
2. Coding
3. Testing

### Defining 

We will define how we will solve the issues we found in the assessment phase.

#### Result of Assessment for the CSV file:

* Visually looking at retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,in_reply_to_status_id,in_reply_to_user_id we can see that these columns have lots of missing values.  
<span style="color:turquoise">Remove all of these columns since we will not be using them.</span>
* We found that there are 23 entries a rating_denominator that is not 10,  which is a clear error(we might not need this column since we know our ratings are out of 10).  
<span style="color:turquoise">Remove this column since we know that the denominator should always be 10.</span>
* Some of the rating_numerator are either less than 10 or greater than 14, after visually checking these entries I found that some of these values are due to error in reading the text(this could occur for text containing dates (e.g. 4/10(4th July) or places (e.g. 7/11).    
<span style="color:turquoise">Fix entries that are due to problems in readign the text, then remove them if they are actual errors</span>
* column names are ambiguous  
<span style="color:turquoise">Change the columns name to meaningful ones.</span>
* timestamp and retweeted_status_timestamp are not in the correct data type  
<span style="color:turquoise">Change data type to datetime for these columns.</span>
* Last 4 columns (doggo, floofer,pupper and puppo) should be in one column instead of four.  
<span style="color:turquoise">First create a column called "stage" that holds the value for each entry stage(one or multiple).</span>
* tweet_id is in int64 data type  
<span style="color:turquoise">Change data type to object.</span>

#### Result of Assessment for the TSV file:

* Visually looking at the data, I see multiple columns that I don't need in my final cleaned data (e.g. p2 data and p3 data).  
<span style="color:turquoise">Remove all of these columns since we will not be using them.</span>
* 26% of the predictions in p1 are false, which is supposed to be the strongest prediction.  
<span style="color:turquoise">Remove these entries since they should be always True.</span>
* column names must have meaningful names  
<span style="color:turquoise">Change them to meaningful names.</span>
* tweet_id is in int64 data type  
<span style="color:turquoise">Change data type to object.</span>

#### Result of Assessment for the JSON file:

* There are entries without tweet_id  
<span style="color:turquoise">Drop these entries</span>
* There are duplicated tweet_id  
<span style="color:turquoise">Remove the ones that have no favorite_count or retweet_count.</span>  
* tweet_id is in int64 data type  
<span style="color:turquoise">Change data type to object.</span>

### Coding & Testing

Now we will tackle all of the issues that we found during the assessment, but before we begin we must make a copy of the three data frames

In [36]:
df_csv_clean = df_csv.copy()
df_tsv_clean = df_tsv.copy()
df_json_clean = df_json.copy()

#### Cleaning the <span style="color:green">CSV</span> file.

In [37]:
# drop unnecessary columns
df_csv_clean.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id'], axis=1,inplace=True)
df_csv_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [38]:
# Remove rating_denominator since it should be always 10, and we will not use it anyways
df_csv_clean.drop(['rating_denominator'],axis=1,inplace=True)
df_csv_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,Franklin,None,None,None,None

In [39]:
# there are 11 entries that are wrong due to errors in reading the text
df_csv_clean.at[45, 'rating_numerator'] = 13
df_csv_clean.at[55, 'rating_numerator'] = 17
df_csv_clean.at[313, 'rating_numerator'] = 13
df_csv_clean.at[763, 'rating_numerator'] = 11
df_csv_clean.at[784, 'rating_numerator'] = 14
df_csv_clean.at[1068, 'rating_numerator'] = 14
df_csv_clean.at[1165, 'rating_numerator'] = 13
df_csv_clean.at[1202, 'rating_numerator'] = 11
df_csv_clean.at[1459, 'rating_numerator'] = 13
df_csv_clean.at[1662, 'rating_numerator'] = 10
df_csv_clean.at[1712, 'rating_numerator'] = 11
df_csv_clean.loc[[45,55,313,1165,1202],'rating_numerator']

45      13
55      17
313     13
1165    13
1202    11
Name: rating_numerator, dtype: int64

In [40]:
# remove rows with rating_numerator greater than 14 or less than 10
df_csv_clean.drop(df_csv_clean.query('rating_numerator < 10 | rating_numerator > 14').index,axis=0,inplace=True)
df_csv_clean.query('rating_numerator < 10 | rating_numerator > 14')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, name, doggo, floofer, pupper, puppo]
Index: []

In [41]:
# give each column a better name
df_csv_clean.rename(columns={'timestamp': 'tweet_time', 'text': 'tweet_text','rating_numerator': 'dog_rating/10', 'name': 'dog_name'},inplace=True)
df_csv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1898 entries, 0 to 2350
Data columns (total 11 columns):
tweet_id         1898 non-null int64
tweet_time       1898 non-null object
source           1898 non-null object
tweet_text       1898 non-null object
expanded_urls    1855 non-null object
dog_rating/10    1898 non-null int64
dog_name         1898 non-null object
doggo            1898 non-null object
floofer          1898 non-null object
pupper           1898 non-null object
puppo            1898 non-null object
dtypes: int64(2), object(9)
memory usage: 177.9+ KB

In [42]:
# change tweet_time from object to datetime
df_csv_clean['tweet_time']= pd.to_datetime(df_csv_clean['tweet_time']) 
df_csv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1898 entries, 0 to 2350
Data columns (total 11 columns):
tweet_id         1898 non-null int64
tweet_time       1898 non-null datetime64[ns]
source           1898 non-null object
tweet_text       1898 non-null object
expanded_urls    1855 non-null object
dog_rating/10    1898 non-null int64
dog_name         1898 non-null object
doggo            1898 non-null object
floofer          1898 non-null object
pupper           1898 non-null object
puppo            1898 non-null object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 177.9+ KB

In [43]:
# Replace None with null for last 4 columns and create a stage column that contains the dog stage

df_csv_clean['doggo'] = df_csv_clean['doggo'].replace('None','')
df_csv_clean['floofer'] = df_csv_clean['floofer'].str.replace('None','')
df_csv_clean['pupper'] = df_csv_clean['pupper'].str.replace('None','')
df_csv_clean['puppo'] = df_csv_clean['puppo'].str.replace('None','')
df_csv_clean['stage'] = df_csv_clean['doggo']+df_csv_clean['floofer']+df_csv_clean['pupper']+df_csv_clean['puppo']
df_csv_clean['stage'].value_counts()

                1566
pupper           203
doggo             79
puppo             28
doggopupper       11
floofer            9
doggofloofer       1
doggopuppo         1
Name: stage, dtype: int64

In [44]:
# put a comma between stages with multiple values
df_csv_clean.loc[df_csv_clean['stage'] == 'doggopupper', 'stage'] = 'doggo, pupper'
df_csv_clean.loc[df_csv_clean['stage'] == 'doggofloofer', 'stage'] = 'doggo, floofer'
df_csv_clean.loc[df_csv_clean['stage'] == 'doggopuppo', 'stage'] = 'doggo, puppo'

In [45]:
# remove the 4 stage columns
df_csv_clean.drop(['doggo','floofer','pupper','puppo'],axis=1,inplace=True)

In [46]:
df_csv_clean.sample(6)

,tweet_id,tweet_time,source,tweet_text,expanded_urls,dog_rating/10,dog_name,stage
1155,724983749226668032,2016-04-26 15:29:30,"<a href=""http://twitter.com/download/iphone"" r...",This is Fred-Rick. He dabbles in parkour. The ...,https://twitter.com/dog_rates/status/724983749...,12,Fred,
1625,684830982659280897,2016-01-06 20:16:44,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This little fella really hates stairs. Prefers...,https://vine.co/v/eEZXZI1rqxX,13,None,pupper
109,871166179821445120,2017-06-04 00:46:17,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Dawn. She's just checki...,https://twitter.com/dog_rates/status/841077006...,12,Dawn,
1052,742528092657332225,2016-06-14 01:24:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Maxaroni. He's pumped as hell for the ...,https://twitter.com/dog_rates/status/742528092...,10,Maxaroni,
1182,718971898235854848,2016-04-10 01:20:33,"<a href=""http://twitter.com/download/iphone"" r...",This is Sadie. She is prepared for battle. 10/...,https://twitter.com/dog_rates/status/718971898...,10,Sadie,
1355,703611486317502464,2016-02-27 16:03:45,"<a href=""http://twitter.com/download/iphone"" r...",Meet Scooter. He's experiencing the pupper equ...,https://twitter.com/dog_rates/status/703611486...,10,Scooter,pupper

In [47]:
df_csv_clean['tweet_id'].duplicated().sum()

0

In [48]:
# change data type from int to object
df_csv_clean['tweet_id'] = df_csv_clean['tweet_id'].apply(lambda x: str(x))
df_csv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1898 entries, 0 to 2350
Data columns (total 8 columns):
tweet_id         1898 non-null object
tweet_time       1898 non-null datetime64[ns]
source           1898 non-null object
tweet_text       1898 non-null object
expanded_urls    1855 non-null object
dog_rating/10    1898 non-null int64
dog_name         1898 non-null object
stage            1898 non-null object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 133.5+ KB

#### Cleaning the <span style="color:red">TSV</span> file.

In [49]:
# removing unnecessary columns
df_tsv_clean.drop(['jpg_url', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], inplace=True, axis=1)
df_tsv_clean.head()

             tweet_id  img_num                      p1   p1_conf  p1_dog
0  666020888022790149        1  Welsh_springer_spaniel  0.465074    True
1  666029285002620928        1                 redbone  0.506826    True
2  666033412701032449        1         German_shepherd  0.596461    True
3  666044226329800704        1     Rhodesian_ridgeback  0.408143    True
4  666049248165822465        1      miniature_pinscher  0.560311    True

In [50]:
# remove rows with a false p1_dog
df_tsv_clean.drop(df_tsv_clean.query('p1_dog == False').index,axis=0,inplace=True)
df_tsv_clean.query('p1_dog == False')

Empty DataFrame
Columns: [tweet_id, img_num, p1, p1_conf, p1_dog]
Index: []

In [51]:
#  remove the column p1_dog, it has served it's purpose
df_tsv_clean.drop(['p1_dog'],axis=1,inplace=True)
df_tsv_clean.head()

             tweet_id  img_num                      p1   p1_conf
0  666020888022790149        1  Welsh_springer_spaniel  0.465074
1  666029285002620928        1                 redbone  0.506826
2  666033412701032449        1         German_shepherd  0.596461
3  666044226329800704        1     Rhodesian_ridgeback  0.408143
4  666049248165822465        1      miniature_pinscher  0.560311

In [52]:
# change the names of the columns
df_tsv_clean.rename(columns={'p1':'predicted_dog_breed', 'p1_conf':'prediction_confidence'} , inplace=True)
df_tsv_clean.head()

             tweet_id  img_num     predicted_dog_breed  prediction_confidence
0  666020888022790149        1  Welsh_springer_spaniel               0.465074
1  666029285002620928        1                 redbone               0.506826
2  666033412701032449        1         German_shepherd               0.596461
3  666044226329800704        1     Rhodesian_ridgeback               0.408143
4  666049248165822465        1      miniature_pinscher               0.560311

In [53]:
df_tsv_clean['tweet_id'].duplicated().sum()

0

In [54]:
# change data type from int to object
df_tsv_clean['tweet_id'] = df_tsv_clean['tweet_id'].apply(lambda x: str(x))
df_tsv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 0 to 2073
Data columns (total 4 columns):
tweet_id                 1532 non-null object
img_num                  1532 non-null int64
predicted_dog_breed      1532 non-null object
prediction_confidence    1532 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 59.8+ KB

#### Cleaning the <span style="color:orange">JSON</span> file.

In [55]:
# remove rows with no tweet_id
df_json_clean.drop(df_json_clean.query('tweet_id == "na"').index,axis=0,inplace=True)
df_json_clean.query('tweet_id == "na"')

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count]
Index: []

In [56]:
df_json_clean['tweet_id'].count()

2334

In [57]:
# remove duplicated 60 tweet_id where favorite_count is 0

ids = df_json_clean['tweet_id']
dupid = df_json_clean[ids.isin(ids[ids.duplicated()])].sort_values("tweet_id")
df_json_clean.drop(dupid.query('favorite_count == 0').index,axis=0,inplace=True)
df_json_clean['tweet_id'].count()

2334

In [58]:
df_json_clean['tweet_id'].duplicated().sum()

0

In [61]:
# change data type from int to object
df_json_clean['tweet_id'] = df_json_clean['tweet_id'].apply(lambda x: str(x))
df_json_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2334 entries, 0 to 2333
Data columns (total 3 columns):
tweet_id          2334 non-null object
retweet_count     2334 non-null int64
favorite_count    2334 non-null int64
dtypes: int64(2), object(1)
memory usage: 72.9+ KB

In [59]:
df_json_clean['retweet_count'].describe()

count     2334.000000
mean      2825.568123
std       4781.927851
min          1.000000
25%        568.250000
50%       1322.500000
75%       3297.500000
max      81174.000000
Name: retweet_count, dtype: float64

## Merging the data frames

In [62]:
# Merging dataframes to create a master dataframe 

df_combined = pd.merge(df_csv_clean, df_tsv_clean, on='tweet_id', how='left')
df_combined2 = pd.merge(df_combined, df_json_clean, on='tweet_id',how='left')
df_combined2.head()

,tweet_id,tweet_time,source,tweet_text,expanded_urls,dog_rating/10,dog_name,stage,img_num,predicted_dog_breed,prediction_confidence,retweet_count,favorite_count
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,Phineas,,NaN,NaN,NaN,8037.0,37362.0
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,Tilly,,1.0,Chihuahua,0.323581,5966.0,32115.0
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,,1.0,Chihuahua,0.716012,3948.0,24214.0
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,,NaN,NaN,NaN,8205.0,40665.0
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,Franklin,,2.0,basset,0.555712,8885.0,38882.0

In [63]:
df_combined2['retweet_count'].describe()

count     1876.000000
mean      3280.276119
std       5204.156588
min          2.000000
25%        696.000000
50%       1738.500000
75%       3768.250000
max      81174.000000
Name: retweet_count, dtype: float64

In [64]:
# backup the combined data frame
df_combined2.to_csv('twitter_archive_master.csv')
df_csv_clean.to_csv('cleaned_twitter_archive_data.csv')
df_tsv_clean.to_csv('cleaned_image_prediction_data.csv')
df_json_clean.to_csv('cleaned_retweets_favoraites_data.csv')